In [1]:
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'quit']

In [2]:
class Person :
    no_of_person = 0 
    def __init__(self,name,age):
        self.name = name
        self.__age = age
        Person.no_of_person += 1
        
    def __str__(self) :
        return f'this person name is {self.name} and he is {self.__age}'
    def set_age(self,new_age) :
        self.__age = new_age
p1 = Person('Moh',22)
p2 = Person('Ali',32)
print(p1)
print(type(p1))
print(p1.__str__())
print(Person.no_of_person)
p2.set_age(27)
print(p2.__str__())

this person name is Moh and he is 22
<class '__main__.Person'>
this person name is Moh and he is 22
2
this person name is Ali and he is 27

In [3]:
class Employee :
    def __init__(self,name,ID,salary,emp):
        self.__name = name
        self.__ID = ID
        self.__salary = salary
        self.__emp = emp
    def salary(self,hour:float,salary):
        if hour > 50 :
            OverTime = hour - 50
            NewSalary = OverTime * (salary / 50)
            return  NewSalary + salary
        else:
            return salarya
    def __str__(self):
        return f'the name of empolyee is {self.__name}, ID: {self.__ID}, salary {self.__salary} and he is {self.__emp}'
    def set_name(self,new_name):
        self.__name = new_name
    def set_ID(self,new_ID):
        self.__ID = new_ID
    def set_salary(self,new_salary):
        self.__salary = new_salary
    def set_emp(self,new_emp):
        self.__emp = new_emp    
em1 = Employee('Mohammed','12K873m',5000,'IT')
em2 = Employee('Ali','H335M23',8000,'ACCOUNTING')
print(em1,'\n',em2)
(em1.salary(60,5000))

the name of empolyee is Mohammed, ID: 12K873m, salary 5000 and he is IT
 the name of empolyee is Ali, ID: H335M23, salary 8000 and he is ACCOUNTING

6000.0

In [4]:
class Employee :
    WORK_WEEK = 50

    def __init__(self, name, ID, salary, emp):
        self.__name = name
        self.__ID = ID
        self.__salary = salary
        self.__emp = emp

    def compute_salary(self, hours_worked):
        if hours_worked > self.WORK_WEEK:
            overtime_hours = hours_worked - self.WORK_WEEK
            overtime_pay = overtime_hours * (self.__salary / self.WORK_WEEK)
            return self.__salary + overtime_pay
        else:
            return self.__salary

    def __str__(self):
        return f'the name of employee is {self.__name}, ID: {self.__ID}, salary {self.__salary} and he is {self.__emp}'


em1 = Employee('Mohammed', '12K873m', 5000, 'IT')
em2 = Employee('Ali', 'H335M23', 8000, 'ACCOUNTING')

print(em1, '\n', em2)
print(em1.compute_salary(60))

the name of employee is Mohammed, ID: 12K873m, salary 5000 and he is IT
 the name of employee is Ali, ID: H335M23, salary 8000 and he is ACCOUNTING
6000.0

In [5]:
class Employee:
    employees = []

    def __init__(self, name, ID, salary, emp):
        self.__name = name
        self.__ID = ID
        self.__salary = salary
        self.__emp = emp
        Employee.employees.append(self)

    def salary(self, hours_worked):
        if hours_worked > 50:
            overtime_hours = hours_worked - 50
            overtime_pay = overtime_hours * (self.__salary / 40) * 1.5  # 1.5 times the normal rate for overtime
            return (self.__salary + overtime_pay)
        elif hours_worked >= 0:
            return self.__salary
        else:
            raise ValueError("Hours worked cannot be negative")

    def __str__(self):
        return f'the name of employee is {self.__name}, ID: {self.__ID}, salary {self.__salary} and he is {self.__emp}'

    @classmethod
    def total_payroll(cls, hours):
        total = 0
        for employee in cls.employees:
            total += employee.salary(hours)
        return total

em1 = Employee('Mohammed', '12K873m', 5000, 'IT')
em2 = Employee('Ali', 'H335M23', 8000, 'ACCOUNTING')

print(em1, '\n', em2)
print("Total payroll:", Employee.total_payroll(60))

the name of employee is Mohammed, ID: 12K873m, salary 5000 and he is IT
 the name of employee is Ali, ID: H335M23, salary 8000 and he is ACCOUNTING
Total payroll: 17875.0

In [6]:
class Restaurant:
    reservations = 0
    def __init__(self,menu_items:list,book_table,customer_order:list):
        self.__menu_items = menu_items
        self.__book_table = book_table
        self.__customer_order = customer_order
        Restaurant.reservations =+1
    def add_item_2_menu(self,item:str):
        self.__menu_items.append(item)
    def add_item_2_menu(self,item:list):
        for i in item:
            self.__menu_items.append(i)
    def P_menu(self):
        for i in self.__menu_items:
            print(i)
    def P_order(self):
        for i in self.__customer_order:
            print(i)
        
        
r = Restaurant(['Water','Orange','barger','Omani bread'],5,['barger','Omani bread'])        
r.add_item_2_menu(['rice','apple'])
r.P_menu()
#print(Restaurant.reservations)

Water
Orange
barger
Omani bread
rice
apple