In [1]:
try
except 
finally

SyntaxError: invalid syntax (1612778648.py, line 1)

In [2]:
try : 
    filename = input()
    infile = open(filename)
except IOError:
    print(f'File {filename}, could not be opened')

aaa
File aaa, could not be opened

In [21]:
print(dir())

['In', 'Out', 'Person', '_', '_7', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'filename', 'get_ipython', 'p1', 'quit']

In [90]:
class Person :
    no_of_person = 0 
    def __init__(self,name,age):
        self.name = name
        self.__age = age
        Person.no_of_person += 1
        
    def __str__(self) :
        return f'this person name is {self.name} and he is {self.__age}'
    def set_age(self,new_age) :
        self.__age = new_age
p1 = Person('Moh',22)
p2 = Person('Ali',32)
print(p1)
print(type(p1))
print(p1.__str__())
print(Person.no_of_person)
p2.set_age(27)
print(p2.__str__())

this person name is Moh and he is 22
<class '__main__.Person'>
this person name is Moh and he is 22
2
this person name is Ali and he is 27

In [67]:
class Employee :
    def __init__(self,name,ID,salary,emp):
        self.__name = name
        self.__ID = ID
        self.__salary = salary
        self.__emp = emp
    def salary(self,hour:float,salary):
        if hour > 50 :
            OverTime = hour - 50
            NewSalary = OverTime * (salary / 50)
            return  NewSalary + salary
        else:
            return salarya
    def __str__(self):
        return f'the name of empolyee is {self.__name}, ID: {self.__ID}, salary {self.__salary} and he is {self.__emp}'
    def set_name(self,new_name):
        self.__name = new_name
    def set_ID(self,new_ID):
        self.__ID = new_ID
    def set_salary(self,new_salary):
        self.__salary = new_salary
    def set_emp(self,new_emp):
        self.__emp = new_emp    
em1 = Employee('Mohammed','12K873m',5000,'IT')
em2 = Employee('Ali','H335M23',8000,'ACCOUNTING')
print(em1,'\n',em2)
(em1.salary(60,5000))

the name of empolyee is Mohammed, ID: 12K873m, salary 5000 and he is IT
 the name of empolyee is Ali, ID: H335M23, salary 8000 and he is ACCOUNTING

6000.0

In [66]:
class Employee :
    WORK_WEEK = 50

    def __init__(self, name, ID, salary, emp):
        self.__name = name
        self.__ID = ID
        self.__salary = salary
        self.__emp = emp

    def compute_salary(self, hours_worked):
        if hours_worked > self.WORK_WEEK:
            overtime_hours = hours_worked - self.WORK_WEEK
            overtime_pay = overtime_hours * (self.__salary / self.WORK_WEEK)
            return self.__salary + overtime_pay
        else:
            return self.__salary

    def __str__(self):
        return f'the name of employee is {self.__name}, ID: {self.__ID}, salary {self.__salary} and he is {self.__emp}'


em1 = Employee('Mohammed', '12K873m', 5000, 'IT')
em2 = Employee('Ali', 'H335M23', 8000, 'ACCOUNTING')

print(em1, '\n', em2)
print(em1.compute_salary(60))

the name of employee is Mohammed, ID: 12K873m, salary 5000 and he is IT
 the name of employee is Ali, ID: H335M23, salary 8000 and he is ACCOUNTING
6000.0

In [68]:
class Employee:
    employees = []

    def __init__(self, name, ID, salary, emp):
        self.__name = name
        self.__ID = ID
        self.__salary = salary
        self.__emp = emp
        Employee.employees.append(self)

    def salary(self, hours_worked):
        if hours_worked > 50:
            overtime_hours = hours_worked - 50
            overtime_pay = overtime_hours * (self.__salary / 40) * 1.5  # 1.5 times the normal rate for overtime
            return (self.__salary + overtime_pay)
        elif hours_worked >= 0:
            return self.__salary
        else:
            raise ValueError("Hours worked cannot be negative")

    def __str__(self):
        return f'the name of employee is {self.__name}, ID: {self.__ID}, salary {self.__salary} and he is {self.__emp}'

    @classmethod
    def total_payroll(cls, hours):
        total = 0
        for employee in cls.employees:
            total += employee.salary(hours)
        return total

em1 = Employee('Mohammed', '12K873m', 5000, 'IT')
em2 = Employee('Ali', 'H335M23', 8000, 'ACCOUNTING')

print(em1, '\n', em2)
print("Total payroll:", Employee.total_payroll(60))

the name of employee is Mohammed, ID: 12K873m, salary 5000 and he is IT
 the name of employee is Ali, ID: H335M23, salary 8000 and he is ACCOUNTING
Total payroll: 17875.0

In [97]:
class Restaurant:
    reservations = 0
    def __init__(self,menu_items:list,book_table,customer_order:list):
        self.__menu_items = menu_items
        self.__book_table = book_table
        self.__customer_order = customer_order
        Restaurant.reservations =+1
    def add_item_2_menu(self,item:str):
        self.__menu_items.append(item)
    def add_item_2_menu(self,item:list):
        for i in item:
            self.__menu_items.append(i)
    def P_menu(self):
        for i in self.__menu_items:
            print(i)
    def P_order(self):
        for i in self.__customer_order:
            print(i)
        
        
r = Restaurant(['Water','Orange','barger','Omani bread'],5,['barger','Omani bread'])        
r.add_item_2_menu(['rice','apple'])
r.P_menu()
#print(Restaurant.reservations)

Water
Orange
barger
Omani bread
rice
apple

In [137]:
class BankAccount:
    def __init__(self,account_number,custmer_name,balance:float,date_of_opening):
        self.__account_number = account_number
        self.__custmer_name = custmer_name
        self.__balance = balance
        self.__date_of_opening = date_of_opening
        
        
        
    def check_balance(self):
        return self.__balance
    
    
    def __str__(self):
        return f'account : {self.__account_number}, name : {self.__custmer_name}\
        balance : {self.__balance}, date : {self.__date_of_opening}'
        
        
    def deposit(self,d_balance): #ايداع
        self.__balance=self.__balance+d_balance
        
    
    
    def withdrow(self,d_balance:float):
        self.__balance= self.__balance - d_balance
    
    
Muaeen = BankAccount('11230565','Muaeen Gharib',200,'7-5-2023')
print(Muaeen)
Muaeen.deposit(1200)
Muaeen.check_balance()
Muaeen.withdrow(400)
Muaeen.check_balance()
print(Muaeen)

account : 11230565, name : Muaeen Gharib        balance : 200, date : 7-5-2023
account : 11230565, name : Muaeen Gharib        balance : 1000, date : 7-5-2023

In [337]:
class Stack:
    def __init__(self,stack):
        self.__stack = stack
    
    def __str__(self):
        return f'{self.__stack}'
        
    def reverse(self):
        self.__stack = self.__stack[::-1]

    def is_empty(self):
        return len(self.__stack) == 0

    def push(self, item):
        self.__stack.append(item)

    def pop(self):
        if not self.is_empty():
            return self.__stack.pop()
        else:
            raise IndexError("Stack is empty")

    def peek(self):
        if not self.is_empty():
            return self.__stack[-1]
        else:
            raise IndexError("Stack is empty")

    def size(self):
        return len(self.__stack)

In [200]:
x = ['j','h','t','u']
stack = Stack(x)

stack.push('r')
print(stack)
#stack.reverse()

print(stack.peek())  

print(stack.pop())   
#print(stack.pop())
#print(stack.pop()) 

#print(stack.size())  

#print(stack.is_empty())

['j', 'h', 't', 'u', 'r']
r
r

In [201]:
def infix_to_prefix(expression):
    def precedence(op):
        if op == '+' or op == '-':
            return 1
        if op == '*' or op == '/':
            return 2
        return 0

    def apply_operator(operators, operands):
        operator = operators[-1]
        operators = operators[:-1]
        right = operands[-1]
        operands = operands[:-1]
        left = operands[-1]
        operands = operands[:-1]
        temp = operator + left + right
        operands.append(temp)
        return operators, operands

    def greater_precedence(op1, op2):
        return precedence(op1) >= precedence(op2)

    operators = []
    operands = []
    expression = '(' + expression + ')'
    i = len(expression) - 1

    while i >= 0:
        if expression[i] == " ":
            i -= 1
            continue

        if expression[i] == '(':
            while operators[-1] != ')':
                operators, operands = apply_operator(operators, operands)
            operators = operators[:-1]
        elif expression[i] == ')':
            operators.append(expression[i])
        elif expression[i] in '+-*/':
            while (operators and operators[-1] != ')' and
                    greater_precedence(operators[-1], expression[i])):
                operators, operands = apply_operator(operators, operands)
            operators.append(expression[i])
        else:
            operands.append(expression[i])
        i -= 1

    while operators:
        operators, operands = apply_operator(operators, operands)

    return operands[0]


print(infix_to_prefix('a+b-c'))  # Output: -+abc

+-cba

In [338]:
def infix_to_prefix(infix):
    def precedence(op):
        if op == '+' or op == '-':
            return 1
        if op == '*' or op == '/':
            return 2
        return 0

    # Step 1: Reverse the infix expression
    infix = infix[::-1]

    # Swap opening and closing parenthesis
    infix = [')' if c == '(' else '(' if c == ')' else c for c in infix]

    stack = []
    output = ''

    for character in infix:
        if character.isalpha():
            output += character
        elif character == ')':
            stack.append(character)
        elif character == '(':
            while stack and stack[-1] != ')':
                output += stack.pop()
            stack.pop()  # Discard the closing parenthesis
        else:
            while (stack and stack[-1] != ')' and
                   precedence(character) <= precedence(stack[-1])):
                output += stack.pop()
            stack.append(character)

    while stack:
        output += stack.pop()

    # Step 6: Reverse the final output
    return output[::-1]


infix = "a+b-c"
print(infix_to_prefix(infix))

+a-bc

In [253]:
a = [10,20,30,40,50,60,70]
ky = 50
L = 0
H = len(a)-1
found = False
while L <= H and not found :
    mid = (L+H) // 2
    if a[mid] == ky :
        found = True
    elif a[mid] < ky :
        L = mid + 1
    else :
        H = mid - 1

if found:
    print(f'the index of {ky} is {mid}')
else :
    print('F')

the index of 50 is 4

In [255]:
def binary_search(my_list, ky):
    my_list.sort()
    L = 0
    H = len(a) - 1
    while L <= H:
        mid = (L + H) // 2
        if my_list[mid] == ky:
            return mid
        elif my_list[mid] < ky:
            L = mid + 1
        else:
            H = mid - 1
    return None

a = [5,20,23,67,15,1,33,50]
ky = 23
print(binary_search(a, ky))

4

In [256]:
a.sort()
a

[1, 5, 15, 20, 23, 33, 50, 67]

In [340]:
def insrta(array):
    for step in range(1,len(array)):
        key = array[step]
        j = step -1 
        
        while j >= 0 and key < array[j]:
            array[j+1]=array[j]
            j = j -1
            
            array[j+1] = key
            
data = [3,7,5,9,2]
data1 = [3,7,5,9,2,47]
data.sort()
insrta(data)
print(data)
print(data1)

[2, 3, 5, 7, 9]
[3, 7, 5, 9, 2, 47]

In [277]:
lst = ['Said,25','Majid,19','Salim,32','Ali,21','Sultan,28']

numbers = [str(x.split(',')[0]) for x in lst]

print(numbers)

['Said', 'Majid', 'Salim', 'Ali', 'Sultan']

In [341]:
def insrta(array):
    for step in range(1,len(array)):
        key = array[step]
        j = step -1 
        
        while j >= 0 and key < array[j]:
            array[j+1]=array[j]
            j = j -1
            
            array[j+1] = key

In [342]:
def sort_list(array):
    for step in range(len(array)):
        min_idx = step
        for j in range(step+1, len(array)):
            if int(array[j].split(',')[1]) < int(array[min_idx].split(',')[1]):
                min_idx = j
        array[step], array[min_idx] = array[min_idx], array[step]
    return [step.split(',')[0] for step in array]

lst = ['Said,25','Majid,19','Salim,32','Ali,21','Sultan,28']
print(sort_list(lst))

['Majid', 'Ali', 'Said', 'Sultan', 'Salim']

In [ ]:
lambda

In [285]:
sum_ = lambda a = 1, b = 2, c = 3 : a+b+c
print(sum_())
print(sum_(4,7))
print(sum_(6,7,4))

6
14
17

In [287]:
square = lambda x: x ** 2
square(4)

16

In [288]:
addition = lambda x, y: x + y
addition(3, 5)

8

In [290]:
addition = lambda *numbers : sum(numbers)
addition(3,5,7)

15

In [294]:
OddEven = lambda x:(x%2 and 'odd' or 'even')
OddEven(4)

'even'

In [304]:
people =[ 
    {'name':'john','Age':28},
    {'name':'Mary','Age':23},
    {'name':'Bob','Age':35},
    {'name':'Alice','Age':32}
]
sorted_people = sorted(people, key=lambda person: person['Age'],reverse=True)
print(people)
print(sorted_people)

[{'name': 'john', 'Age': 28}, {'name': 'Mary', 'Age': 23}, {'name': 'Bob', 'Age': 35}, {'name': 'Alice', 'Age': 32}]
[{'name': 'Bob', 'Age': 35}, {'name': 'Alice', 'Age': 32}, {'name': 'john', 'Age': 28}, {'name': 'Mary', 'Age': 23}]

In [310]:
def is_even(i):
    return i % 2 == 0
data = [1,3,5,2,7,4,10]
d1 = list(filter(lambda i : i % 2 == 0 ,data))
d2 = list(filter(is_even,data))
print(data)
print(d1)
print(d2)

[1, 3, 5, 2, 7, 4, 10]
[2, 4, 10]
[2, 4, 10]

In [312]:
input_ = input("Please enter a string: ")

l_ltt = filter(lambda letter: letter.islower(), input_)
print("Lower is: ", "".join(l_ltt))

u_ltt = filter(lambda letter: letter.isupper(), input_)
print("Upper is: ", "".join(u_ltt))

Please enter a string: Hi My name Is
Lower is:  iynames
Upper is:  HMI

In [309]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
def filter_vowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return True if letter in vowels else False

filtered_vowels = filter(filter_vowels, letters)

vowels = tuple(filtered_vowels)
print(vowels)

('a', 'e', 'i', 'o')

In [317]:
def ltt(my_list):
    return list(map(lambda x: x.upper(), my_list))
ltt(['Muaeen','gharib'])

['MUAEEN', 'GHARIB']

In [319]:
from functools import reduce
data = [1,3,5,3,6,4,10]
result = reduce(lambda total, value: total + value,data)
print(result)

32

In [320]:
numbers = [1, 2, 3, 4, 5]

sum_of_squares = reduce(lambda a, b: a + b*b, numbers, 0)

print(sum_of_squares)

55

In [326]:
lsst = [1,2,3]
for i in lsst:
    print(i,end='')

123

In [324]:
valuee = iter(lsst)
print(next(valuee))

1

In [332]:
def fibonacci_numbers(nums):
    x, y = 0, 1
    for i in range(nums):
        x, y = y, x+y
        yield x
def square(nums):
    for num in nums:
        yield num**3
print(sum(square(fibonacci_numbers(10))))

217811

In [329]:
def fibonacci_numbers(nums):
    x, y = 0, 1
    for i in range(nums):
        x, y = y, x+y
        yield x
def square(nums):
    for num in nums:
        yield num**3
def square2(nums):
    for num in nums:
        yield num**2

print(sum(square2(square(fibonacci_numbers(10)))))

29316316535

In [331]:
def fibonacci_(nums):
    x, y = 0, 1
    for i in range(nums):
        x, y = y, x+y
        yield x**3

print(sum(fibonacci_(10)))

217811

In [333]:
def even_num_(nums):
    for num in nums:
        if num % 2 == 0:
            yield num

numbers = list(range(1, 16))

for even_num in even_num_(numbers):
    print(even_num)

2
4
6
8
10
12
14

In [335]:
def my_gen(n):
    i = 0 
    while i < n :
        yield i 
        i += 1
my_list = list(my_gen(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [336]:
def func1(fun):
    def wrapper():
        print('Hello')
        fun()
        print('Welcome to Python')
    return wrapper

def func2():
    print('Code Academy')

f = func1(func2)
f()

Hello
Code Academy
Welcome to Python

In [141]:
stack = Stack()

stack.push(1)
stack.push(2)
stack.push(3)

print(stack.peek())  

print(stack.pop())   
print(stack.pop())   

print(stack.size())  

print(stack.is_empty())

3
3
2
1

AttributeError: 'Stack' object has no attribute 'isempty'