In [1]:
listA = [22,3,-2,-1,10,1]
ne = 0
product = 1
for i in listA :
    print(i)
    product = product * i
    if i < 0 :
        ne += 1
print('_______\n',sum(listA))
print('_______\n',ne)
print('_______\n',product)

22
3
-2
-1
10
1
_______
 33
_______
 2
_______
 1320

In [6]:
listB = [1,2,3]
sum(listB)

6

In [7]:
del listB[0]
listB

[2, 3]

In [9]:
y=[1,2,3]
y = '|'.join(map(str,y))
print(y)
print(type(y))

1|2|3
<class 'str'>

In [10]:
r = [i for i in range(5) if (i % 2==0)]
r

[0, 2, 4]

In [11]:
def multiply(values, factor):
    for i in range(len(values)):
        values[i] = values[i] * factor
    print()

In [15]:
v = [1,2,3,4]
f = 2
multiply(v,f)

In [14]:
def roll_sum(a) :
    counts = {i:0 for i in range(1,7)}
    for x in a :
        if x in counts :
            counts[x] += 1
            for x,count in counts.items():
                print(f'{x}: {count},',end=' ')
a = [1,3,5,0,4,3]
roll_sum(a)

1: 1, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 1: 1, 2: 0, 3: 1, 4: 0, 5: 0, 6: 0, 1: 1, 2: 0, 3: 1, 4: 0, 5: 1, 6: 0, 1: 1, 2: 0, 3: 1, 4: 1, 5: 1, 6: 0, 1: 1, 2: 0, 3: 2, 4: 1, 5: 1, 6: 0,